<i>Created: <%= obj.created_at.strftime('%B %e, %Y')%>
         <% if obj.created_at.strftime('%B %e, %Y') != obj.updated_at.strftime('%B %e, %Y') %>
          ; Update: <%= obj.updated_at.strftime('%B %e, %Y') %>
         <% end %></i>