<h1>Listing Articles</h1>
 
<p>There are <%= pluralize(Article.all.size, 'article') %> in this Weblog</p>

<p><%= link_to 'Create a new article', new_article_path %></p>
 
  <% @articles.each do |article| %>
    <div id='indexpost'>
      <H2><%= link_to article.title, article_path(article) %></H2>
      <p><%= render 'timestamp', obj: article%></p>
      <p><%= truncate(article.text, length: 100, separator: ' ') %></td>
      <p><%= link_to 'Show', article_path(article) %> 
      <%= link_to 'Edit', edit_article_path(article) %> 
      <%= link_to 'Delete', article_path(article), 
                                method: :delete, 
                                data: { confirm: 'Are you sure?'} %></p>
    </div>
  <% end %>

<div id='articles-pagination-container'><%= will_paginate @articles %></div>

<p>Return to <%= link_to 'Home page', root_path %></p>