<H1>
  <%= @article.title %>
</H1>
<p><%= render 'timestamp', obj: @article %></p>
<p><%= link_to 'Edit the article', edit_article_path(@article) %> <%= link_to 'Delete the article', article_path(@article), method: :delete, data: { confirm: 'Are you sure?'}%></p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<p><%= link_to "Back to Weblog index", articles_path %></p>