// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#indexpost, #articles-pagination-container {
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.3);
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 10px
}

#articles-pagination-container {
	text-align: center;
}